.Header-wrapper {
    background-color: rgb(196, 191, 126);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.Header-wrapper a:hover {
    color: rgb(247, 238, 187);
}

.Header-wrapper h1 {
    height: 64px;
    pointer-events: none;
}


.Header-link {
    color: rgb(36, 28, 28);
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
}


